body {
    background-color: #383637;
    font-family: apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    background-image: url("/grunge.png");
    background-blend-mode: multiply;
}

.mainContent {
    margin-top: 40px;
    color: #ffffff;
    font-weight: 100;
}


/*
@media only screen and (max-width: 796px) {
    .brand {
        position: relative;
        left: auto;
        margin-left: 0px !important;
        display: flex;
    }
}
*/


/*
@media only screen and (min-width: 797px) {
    .navbarStyleMobile {
        display: none;
    }
}
*/

.navbar {
    position: relative;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #EB2625;
    border-radius: 0px;
    padding: 0px;
    padding-left: 0px;
    height: 50px;
    font-size: 12px;
    background-color: #ffffff;
}

.navbar a {
    font-weight: 600;
    color: #777;
}

.navbar-toggle {
    border: 1px solid #EB2625;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #EB2625;
}

.dropdown-menu>li>a {
    font-size: 12px;
}

.dropdown-menu>li>a:hover {
    color: #ffffff;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    color: #ffffff;
    background-color: #EB2625 !important;
    transition-duration: 0.2s;
}

.navbar li:hover {
    color: #ffffff;
}

.brandLogo {
    margin-top: -5px;
    max-width: 200px;
    margin-left: 80px;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        background-color: #ffffff;
    }
    .brandLogo {
        margin-left: 0px !important;
    }
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

.footerDetail {
    margin-left: 20px;
}

.footer a {
    color: #777;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 25px;
    /* Vertically center the text there */
    text-align: center;
    padding-top: 20px;
    background-color: #241E1E;
    color: #555 !important;
    font-weight: 600;
    font-size: 12px;
}